html {
  font-size: 62.5%;
}

html body #root .App {
  min-width: 100vh;
  height: 100%;
}

.content {
  width: 100vw;
  min-height: 55vh;
  padding: 30px 150px;
  background-color: #e7ebff;
}

@media screen and (max-width: 750px) {
  .content {
    padding: 30px 0;
  }
}

@media screen and (max-width: 1400px) {
  .content {
    padding: 30px 80px;
  }
}
